<div id="sign-in-page" class="container-fluid">
	<header class="row">
		<h1 class="column sm-12 center-align">
			{{ global.caption.signIn.pageTittle }}
		</h1>
	</header>
	<section class="row">
		<div
			class="column sm-12 md-8 offset-md-2 lg-4 offset-lg-4 xl-4 offset-xl-4"
		>
			<!-- ----------------------------------------------------------------------- -->
			<!--                               Sign in form                              -->
			<!-- ----------------------------------------------------------------------- -->
			<form [formGroup]="signInForm" (ngSubmit)="signIn()">
				<!-- ------------------------- Email form control -------------------------- -->
				<mat-form-field id="email" class="w-100 mb-1">
					<mat-label>{{
						global.caption.signIn.emailFormControl.label
					}}</mat-label>
					<input
						type="email"
						matInput
						formControlName="email"
						[errorStateMatcher]="errorMatcher"
						placeholder="example@domain.com"
					/>
					<mat-error
						*ngIf="signInForm.controls['email'].errors?.['email'] && !signInForm.controls['email'].errors?.['required']"
					>
						{{ global.caption.signIn.emailFormControl.errors.invalid }}
					</mat-error>
					<mat-error *ngIf="signInForm.controls['email'].errors?.['required']">
						{{ global.caption.signIn.emailFormControl.errors.required }}
					</mat-error>
				</mat-form-field>
				<!-- ----------------------- End email form control ------------------------ -->
				<!-- ------------------------ Password form control ------------------------ -->
				<mat-form-field id="password" class="w-100 mb-1">
					<mat-label>{{
						global.caption.signIn.passwordFormControl.label
					}}</mat-label>
					<input
						type="password"
						matInput
						formControlName="password"
						[errorStateMatcher]="errorMatcher"
						placeholder="********"
					/>
					<mat-error
						*ngIf="signInForm.controls['password'].errors?.['required']"
					>
						{{ global.caption.signIn.passwordFormControl.errors.required }}
					</mat-error>
				</mat-form-field>
				<!-- ---------------------- End password form control ---------------------- -->
				<!-- ------------------------ Forgot your password ------------------------- -->
				<div class="mb-2"><a href="#">Forgot you password</a></div>
				<!-- ---------------------- End forgot your password ----------------------- -->
				<!-- ------------------------- Submit form control ------------------------- -->
				<button
					mat-raised-button
					color="primary"
					type="submit"
					[disabled]="!signInForm.valid"
					class="horizontal-right"
				>
					{{ global.caption.signIn.submitFormControl.label }}
				</button>
				<!-- ----------------------- End submit form control ----------------------- -->
			</form>
			<!-- ----------------------------------------------------------------------- -->
			<!--                            End Sign in form                             -->
			<!-- ----------------------------------------------------------------------- -->
		</div>
	</section>
</div>
