<article id="sign-in-page" class="container-fluid">
	<section class="row">
		<h1 class="column sm-12 center-align">Sign In Page</h1>
	</section>
	<section class="row">
		<div
			class="column sm-12 md-8 offset-md-2 lg-4 offset-lg-4 xl-4 offset-xl-4"
		>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			Lorem Ipsum has been the industry's standard dummy text ever since the
			1500s, when an unknown printer took a galley of type and scrambled it to
			make a type specimen book. It has survived not only five centuries, but
			also the leap into electronic typesetting, remaining essentially
			unchanged. It was popularised in the 1960s with the release of Letraset
			sheets containing Lorem Ipsum passages, and more recently with desktop
			publishing software like Aldus PageMaker including versions of Lorem
			Ipsum.
		</div>
	</section>
</article>
