/*=============================================
=            Text Align                       =
=============================================*/
.left-align {
	text-align: left;
}
.right-align {
	text-align: right;
}
.center,
.center-align {
	text-align: center;
}
/*=====  End of Text Align             ======*/
